<html ng-app = "githubviewer" >  
    <head>
        <title>PROmise github api fetched data</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
<body ng-controller="MainCtrl">
    <h1>{{message}}</h1>
        <div>  
            <div>
               
                {{error}}
            </div>
            <form name="searchUser">
                <input type="search" placeholder="Username to find" ng-model="username" />
                <input type="submit" value="Search" ng-click="search(username)">
            </form>

            <div>
                <h2>{{username}}</h2>
                 <img src="{{user.avatar_url}}" title="{{user.name}}">
            </div>



            <div>
                UserName : {{user.email}}
                </div> 

            <div>
                Name : {{user.name}}
            </div> 
         
            <div>
                following: {{user.following}}
            </div> 
            <div>
                Location : {{user.location}}
            </div>
       <!--     <div>
                Email:{{useremail.email}}
            </div>
            
            <div>
                EmailURl :{{user.emails_url}}<br>
                second useremail {{useremail.emails_url}} 
            </div>
         -->
            <div>
                followers {{user.followers}}
            </div>

            <div>
                repository : {{user.public_repos}}
            </div>

             <!--  <div>
                <img src="{{user.avatar_url}}" title="{{user.name}}">
        
            </div>
-->
        </div>
    </body>
</html> 